<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Titile name</title>
	{% load staticfiles %}
	<script src="{% static 'angular.min.js' %}"></script>
</head>	
<body>

{% verbatim %}
<div ng-app='myApp' ng-controller='myCtrl'>
	<li ng-repeat='(key,value) in mydict'>
		Extension number for {{key}} in {{value}}.
	</li>
	Wasit's extension is {{mydict['Wasit']}}
</div>
{% endverbatim %} 

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http) {

	$http.get("{% url 'extension' %}")
    .then(function(response) {
        $scope.mydict = response.data;
    });
});
</script>
</body>
</html>